*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #183e25;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #fbf8f3;
}

.container{
    padding-top: 1em ;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

/* NAV_BAR SECTION */
#logo-image{
    height: 3em;
    width: 5em;
    border-radius: 1000px;
}

#logo-image img{
    height: 100%;
    width: 100%;
    border-radius: inherit;
    object-fit: contain
}

.menu-btn{
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    padding: 5px;
    position: relative;
}

.menu-btn img{
    height: 20px;
    width: 20px;
}

.menu{
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
    padding: 1em 0.5em;
    border: 1px solid #000000;
    position: fixed;
    top: 4.1em;
    left: -100%;
    z-index: 1000;
    background: #fbf8f3;
    transition: 0.3s ease;
}

.menu.show{
    left: 0;
}


#nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    border-top: 1px solid #b1afaf;
    border-bottom: 1px solid #b1afaf;
    margin: 1em 0.5em;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff8f8;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    padding: 0 10px;

}

nav a{
    text-decoration: none;
    color: #183e25;
    font-size: 1.2em;
}

/* HERO SECTION */
#hero{
    margin: 1em 0;
    padding: 1em;
}

.hero-contents{
    display: flex;
    gap: 20px;
}

@media(max-width: 600px){
    .hero-contents{
        flex-direction: column-reverse;
    }
    .menu-btn{
        display: inline-block;
    }
    .hide{
        display: none;
    }
    #logo-image{
        display:none;
    }

}

#description{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

#description-text{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


#description-text h2{
    font-size: 5em;
    font-weight: bold;
    line-height: 80px;
    text-shadow: 5px 20px 10px rgba(24, 62, 37, 0.5);
}

#description-text h4,
#description-text p{
    font-size: 1.5em;
}

#cta-buttons{
    align-self: flex-end;
    display: flex;
    gap: 3em;
}

.generic{
    padding: 10px;
    width: 150px;
    font-size: 1.2em;
    font-weight: 500;
    transition: 0.2s ease;
    box-shadow: 5px 15px 10px rgba(0,0,0,0.3);
    border: 1px solid #183e25;
    border-radius: 3px;
}

.primary{
    background: #183e25;
    color: #fbf8f3;
    padding: 10px;
    width: 150px;
    font-size: 1.2em;
    font-weight: 500;
    transition: 0.2s ease;
    box-shadow: 5px 15px 10px rgba(0,0,0,0.3);
    border: 1px solid #183e25;
    border-radius: 3px;
}

@media (hover:hover){
    .generic:hover{
       transform: translateY(-7px);
       background: #fff8f8;
    }

    .primary:hover{
       transform: translateY(-6px);
       color: #183e25;
    background-color: #fbf8f3;
    }
}

.generic:active,
.primary:active{
    opacity: 0.4;
}

#hero-image{
    flex: 1;
    background: #2f7748;
    border-radius: 2em;
    max-height: 90vh;
    box-shadow: 10px 12px 10px rgba(24, 62, 37, 0.5) ;
}

#hero-image img{
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

@media(max-width:950px){

    #description{
        gap: 20px;
    }

    #description-text{
        gap: 20px;
    }

    #description-text h2{
        font-size: 3em;
        line-height: 40px;
        text-shadow: 2px 12px 6px rgba(24, 62, 37, 0.5);
    }

    #description-text h4,
    #description-text p{
        font-size: medium;
    }

    #cta-buttons{
        gap: 1em;
        align-self: center;
    }

    #cta-buttons button{
        width: 100px;
        font-size: 0.8em;
        padding: 10px;
    }
}

/* ABOUT ME */
#about-me{
    padding: 4em ;
}

#about-contents{
    position: relative;
    display: flex;
    gap: 3em;
    justify-content: space-between;
}

#about-images{
    position: relative;
    height: 70vh;
    width: 45vw;
}

.about-image{
    height: 100%;
    width: 100%;
}

.about-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #183e25;
}

#first-image {
    position: relative;
}

 #second-image {
    position: absolute;
    top: 15px;
    right: 30px; 
}

#third-image{
    position: absolute;
    top: 30px;
    right: 60px;
}

#about-info{
    flex: 2;
}

#about-info h3{
    font-size: 1.8em;
    text-shadow: 10px 10px 5px rgba(24, 62, 37, 0.5) ;
}

.about-card{
    margin: 30px 0;
}

.about-card h4,
.about-card p{
    font-size: large;
    margin: 5px 0;
}

@media(max-width:950px){

    #about-me{
        padding: 2em;
    }

    #about-contents{
        flex-direction: column;
        
    }

    #about-images{
    align-self: flex-end;
    padding-right: 10px;
    width: 80vw;
    justify-items: right;
    }

}

/* PROJECTS SECTION */
#projects{
    background: linear-gradient(145deg, rgba(56, 99, 2, 0.4), rgba(5, 103, 74, 0.4));
    padding: 4em;
}

#project-contents h3{
    margin-bottom: 1em;
    font-size: 2em;
    color: rgb(250, 243, 234);
}


#project-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 1em;
    align-items: stretch;
}


.project-card{
    border-radius: 10px;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255,255,255,0.25);
    box-shadow: 0 0 32px rgba(0,0,0,0.3);
    padding: 20px;
    transition: 0.2s ease;
    display: grid;
    grid-template-rows: 300px auto;

}

@media(hover:hover){
    .project-card:hover{
        transform: translateY(-10px);
    }
}

.project img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.project-description {
    flex: 1;
    padding: 10px;
}

.project-description p,
.project-description h4{
    font-size: large;
    color: #000000;
    margin: 5px;
}

.project-links{
    padding: 10px;
    display: flex;
    gap: 1.5em;
}

.project-links a{
    text-decoration: none;
    margin-left: 10px;
    border-radius: 1000px;
    text-align: center;
}

@media(max-width:600px){

    #projects{
        padding: 1em;
    }

    #project-cards{
        grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    }

    .project-card{
        padding: 10px;
    }

    .project-links{
        padding: 0;
        gap: 8px;
        width: fit-content;
        flex-direction: column;
    }

    .project-links a{
        width: 100%;
        font-size: 0.8em;
    }

    .project-description p{
        font-size: medium;
    }

}

/* FOOTER AND CONTACT SECTION */
footer{
    background: #0d2114;
    padding: 2em;
}

footer img{
    width: 40px;
    height: 40px;
}

footer p,
footer h3,
footer a{
    color: antiquewhite;
}

#contact{
    display: flex;
    justify-content: center;
    gap: 3em;

}

.contact-details{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-details h3{
    font-size: 3em;
    margin-bottom: 10px;
}

.communication{
    margin: 2em 0;
}

.socials{
    display: flex;
    gap: 10px;
}

.socials a:hover{
    transform: scale(1.1);
    transition: 0.2s ease;
}

article{
    display: flex;
    align-items: flex-end;
    gap: 5px;
    margin: 10px 0;
}

form{
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #fff8f8;
    padding: 20px;
    gap: 10px;
    max-width: 30vw;
    min-width: 300px;
    min-height: 70vh;
    border-radius: 5px;
}

form input{
    padding: 5px;
}

#details{
    padding: 10px;
    height: 200px;
}

#submitBtn{
    font-size: 0.9em;
    padding: 6px;
    width: 40%;
    align-self: flex-end;
}

@media(max-width:950px){
    #contact{
       flex-direction: column;
    }

    form{
        align-self: center;
    }
}


